.form-servicios {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
mat-form-field {
  margin-right: 12px;
}
.form-full {
  width: 100%;
}
td {
  width: 100%;
}
.form-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-flat-button {
  align-content: flex-end;
}
